


/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1921px) {


}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1440px) and (max-width: 1920.95px) {


}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1440px) and (max-width: 1920.95px) {


}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 1200px) {
  

}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 992px) and (max-width: 1199.95px) {

  /*------------------------------------------*/
  /*   BASE
  /*------------------------------------------*/

  #country_list_id{
		width: 55%;
		margin-left: -6px;
		margin-top:-1px;
    top: 22.2em !important;
	}

}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 768px) and (max-width: 991.95px) { 

  /*------------------------------------------*/
  /*   BASE
  /*------------------------------------------*/

  
  #country_list_id{
		width: 54%;
		margin-left_:3.5em;
		margin-top:-1px;
    top: 19.8em !important;
	}

  
  
  

}



/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (max-width: 767px) { 

  



}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 480px) and (max-width: 767.95px) {

  


}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

@media (min-width: 221px) and (max-width: 479.95px) { /*Real mobile*/

  
  #country_list_id{
		width: 95%;
		margin-left:8px;
		margin-top:3px;
		border: 1px solid #999;
		top: 14.3em !important;
    left: 0px !important;
	}

  .close-icon, .close-icon1 {
    margin: -3px 0 0 -18px;
    right: 3em;
  }

  .view_size{
    margin-top: 10px;
  }

  .count_items{
    font-size: 14.5px;
  }


}




/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */




@media (max-width: 320.95px) { 

  

  

  



}